<!DOCTYPE html>
<html>
    <head>
        <title>zeroecks.com</title>
        <link rel="stylesheet" 
              type="text/css"
              media="(min-width: 320px)"
              href="{{ static_url('css/mobile.css') }}"/>
        <link rel="stylesheet" 
              type="text/css"
              media="(min-width: 768px)"
              href="{{ static_url('css/style.css') }}"/>
    </head>
    <body>
        <header class="site-main">
            <h1>zeroecks.com</h1>
            <ul class="essentials">
                <li><a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x439943DBA05D9F36">0x439943dba05d9f36</a></li>
                <li><a href="https://github.com/coyote240">coyote240 @ GitHub</a></li>
            </ul>

            {% from zeroecks.modules.navigation_module import LOGGED_IN, LOGGED_OUT %}
            {% module Navigation(
                    current_user,
                    ('Home', 'home', LOGGED_IN | LOGGED_OUT),
                    ('Login', 'login', LOGGED_OUT),
                    ('Logout', 'logout', LOGGED_IN),
                    ('Profile', 'profile', LOGGED_IN),
                    ('NewArticle', 'manage content', LOGGED_IN))
            %}

        </header>
        <section class="main-content">
            {% block content %}Nothing here{% end %}
        </section>
        <footer class="site-main">
            <div class="eff-member-badge">
                <a href="https://www.eff.org">
                    <img alt="EFF Member" src="{{ static_url('img/2017mb.png') }}"/>
                </a>
            </div>
            <div class="copyright">
                <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
                    <img src="{{ static_url('img/by-sa.svg') }}" alt="Creative Commons License"/>
                </a>
            </div>
        </footer>
    </body>
</html>
