body {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

header.site-main {
    position: fixed;
    top: 0; right: 0;
    /*border: 1px dotted #708090;*/
    border-width: 0 0 1px 1px;
    text-align: right;
}

footer.site-main {
    display: unset;
    position: fixed;
    bottom: 0; right: 0;
    padding: 1rem;
}

footer .eff-member-badge img {
    width: 100px;
}

fieldset {
    border: none;
}

label {
    display: block;
}

.profile-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
}

.profile-form label {
    grid-column: 1 / 2;
    text-align: right;
}

.profile-form input {
    grid-column: 2 / 2;
}

.profile-form .pgp-key {
}

.password-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
}

.password-form label {
    grid-column: 1 / 2;
    text-align: right;
}

.password-form input {
    grid-column: 2 / 2;
}

.password-form input[type="submit"] {
    grid-column: 2 / 2;
}
