.u2f-registration .message {
    display: none;
}

.u2f-registration.unavailable #u2f-form {
    display: none;
}

.u2f-registration.unavailable .message {
    display: block;
}

#deviceResponse + .u2f-submit {
    display: none
}

#deviceResponse[value^="{"] + .u2f-submit {
    display: block;
}
