.u2f-registration .message {
    display: none;
}

.u2f-registration.unavailable #u2f-form {
    display: none;
}

.u2f-registration.unavailable .message {
    display: block;
}

#deviceResponse + .u2f-submit {
    display: none
}

#deviceResponse[value^="{"] + .u2f-submit {
    display: flex;
    justify-content: space-between;
    border: 1px solid #708090;
    border-radius: 3px;
    padding: .5rem;
    margin: 1rem 0;
}

#deviceResponse[value^="{"] + .u2f-submit #keynick {
    flex: auto;
    margin-right: .5rem;
}

.u2f-registration ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

.u2f-registration ul li:before {
    content: '\1F511\00a0';
}

.u2f-registration ul li time {
    color: #708090;
    font-size: .85rem;
    font-style: italic;
    font-family: serif;
}

.u2f-registration .error {
    font-size: .85rem;
    color: red;
}
